*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-transform: capitalize;
    letter-spacing: .5bx;
}

.card-container{
    width: 80%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}

.card{
    padding: 2rem;
    box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.2);
    transition:  .4s ease-in;
}

.card:hover{
    background: rgb(210,210,210);
}

.card-heading{
    color: blue;
    margin-bottom: .5rem;
}
.card-body{
    color: navy;
}